<div class="srpl-container-header">
    <h5>Reviews on Yelp</h5>
</div>
<div class="srpl-container-body">
    <ul>
        <li class="yui3-g srpl-reviews">
            <div class="yui3-u-1-12 srpl-avatar-container">
                <a href="http://www.yelp.com/user_details?userid=5A45zX5_0I_DecBx6cXHjg">
                    <img width="40" height="40" src="http://s3-media3.ak.yelpcdn.com/photo/hLUYWzq90iCy965jYiNpew/ss.jpg" alt="Photo of Sally P." class="photo-img">
                </a>
            </div>
            <div class="yui3-u-11-12">
                <div class="srpl-rating-header">
                    <div class="srp-rating-review f-left">
                        <a target="_blank" href="#">
                            <span class="srpl-rating-static f-left srpl-rating-50">
                                5 out of 5 stars
                            </span>
                        </a>
                    </div>
                    <span class="srpl-review-name">Annie. T</span>
                    <span class="srpl-review-daate">06/02/13</span>
                </div>
                <div class="srpl-rating-body">
                    <p>
                        I am finally writing my first Yelp review. What better restaurant to write my first review about than Gary Danko? What I enjoyed about this restaurant was the amount of choice you had. You have the choice of getting a 3, 4, or 5 course meal. And within those courses you can choose anything on the menu. So you can have 5 main courses, 3 appetizers.
                    </p>
                </div>
            </div>
        </li>
        <li class="yui3-g srpl-reviews">
            <div class="yui3-u-1-12 srpl-avatar-container">
                <a href="http://www.yelp.com/user_details?userid=5A45zX5_0I_DecBx6cXHjg">
                    <img width="40" height="40" src="http://s3-media3.ak.yelpcdn.com/photo/ZkjqwMLZcEM2qQBIGX0c7Q/ss.jpg" alt="" class="photo-img">
                </a>
            </div>
            <div class="yui3-u-11-12">
                <div class="srpl-rating-header">
                    <div class="srp-rating-review f-left">
                        <a target="_blank" href="#">
                            <span class="srpl-rating-static f-left srpl-rating-40">
                                4 out of 5 stars
                            </span>
                        </a>
                    </div>
                    <span class="srpl-review-name">Harrison V.</span>
                    <span class="srpl-review-daate">5/21/2013</span>
                </div>
                <div class="srpl-rating-body">
                    <p>
                        I was absolutely blown away by both the service (I was probably helped by 7 different waiters and my cup of water was almost never empty) and the quality of the food. The atmosphere is not, what you say, modern but everything else about this place makes up for that. I ordered the four course meal, which included:
                    </p>
                </div>
            </div>
        </li>
        <li class="yui3-g srpl-reviews">
            <div class="yui3-u-1-12 srpl-avatar-container">
                <a href="http://www.yelp.com/user_details?userid=5A45zX5_0I_DecBx6cXHjg">
                    <img width="40" height="40" src="http://s3-media1.ak.yelpcdn.com/photo/5k7bM6Py8eqmjJ73S-7s3w/ss.jpg" alt="Photo of Sally P." class="photo-img">
                </a>
            </div>
            <div class="yui3-u-11-12">
                <div class="srpl-rating-header">
                    <div class="srp-rating-review f-left">
                        <a target="_blank" href="#">
                            <span class="srpl-rating-static f-left srpl-rating-50">
                                5 out of 5 stars
                            </span>
                        </a>
                    </div>
                    <span class="srpl-review-name">Bill H.</span>
                    <span class="srpl-review-daate">5/18/2013</span>
                </div>
                <div class="srpl-rating-body">
                    <p>
                        Place was still full when we arrived at 9 (and was still seating guests until 10!) but we were immediately seated.  Ambiance is nothing to write home about, but low noise level (easy conversations).
                    </p>
                </div>
            </div>
        </li>
    </ul>
    <ul class="srpl-actions clearfix">
        <li class="first-child">
            <a href="#" title="Read all 3266 Reviews on Yelp">Read all 3266 Reviews on Yelp</a>
        </li>
    </ul>
</div>