<div class="srpl-container-header">
    <h5>Tips of Foursquare</h5>
</div>
<div class="srpl-container-body">
    <ul>
        <li>"... at bar. Ask that the cheece cart be brough round. Do what comes naturally." <span class="tips">(7 tips)</span></li>
        <li>"Try the Lobster Risotto - It's like amazing (via @Foodspotting)" <span class="tips">(3 tips)</span></li>
        <li>"... cheese cart, great wine list, great atmosphere, great service (best I've..." <span class="tips">(5 tips)</span></li>
    </ul>
    <ul class="srpl-actions clearfix">
        <li class="first-child">
            <a href="#" title="Read all 77 tips on Foursquare">Read all 77 tips on Foursquare</a>
        </li>
    </ul>
</div>