/************************************************************************
    SRPL Global Properties
************************************************************************/

.srpl{
    font:               13px/1.231 "Helvetica Neue",Helvetica,Arial,sans-serif;
    color:              #5F5F5F;
    background-color:   #F5F7F9;
    height:             100%;
    margin:             0;
    padding:            0;
}

.srpl a {
    text-decoration:    none;
    color:              #1D1DA3;
}

.srpl a:hover,
.srpl a:focus{
    text-decoration:    underline;
    outline:            none;
}

.srpl select,
.srpl input,
.srpl button,
.srpl textarea {
    font-family:        "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.srpl .close{
    cursor:             pointer;
}

.srpl .bold {
    font-weight:        bold;
}

.srpl .f-left{
    float:              left;
    display:            inline;
}

.srpl .f-right{
    float:              right;
    display:            inline;
}

.srpl .clear{
    clear:              both;
}

.srpl .wrap {
    white-space:        pre;           /* CSS 2.0 */
    white-space:        pre-wrap;      /* CSS 2.1 */
    white-space:        pre-line;      /* CSS 3.0 */
    white-space:        -pre-wrap;     /* Opera 4-6 */
    white-space:        -o-pre-wrap;   /* Opera 7 */
    white-space:        -moz-pre-wrap; /* Mozilla */
    word-wrap:          break-word;    /* IE 5+ */
}

.srpl .no-focus:focus{
    outline:            none; /* remove default focus border */
}

/************************************************************************
    Clear Fix
************************************************************************/

.srpl .clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
             
.srpl .clearfix {
    display: inline-block;
}
             
html[xmlns] .srpl .clearfix {
    display: block;
}
             
* html .srpl .clearfix {
    height: 1%;
}

/************************************************************************
    End of Clear Fix
************************************************************************/

/************************************************************************
    Start of Actions
************************************************************************/

.srpl ul.actions{
    padding:            0.769em 0 0 0;
}

.srpl .actions li.first-child,
.srpl .actions li.first-child button{
    padding-left:       0;
}

.srpl .actions li.last-child{
    border:             none;
    padding-right:      0;
}

.srpl .actions li button{
    padding:            0;
    color:              #324FE1;
    font-size:          11px;
    line-height:        13px;
}

.srpl .actions li{
    padding:            0 0.692em;
    display:            inline;
    float:              left;
}

.srpl .actions button:focus,
.srpl .actions input[type="button"]:focus{
    outline:            none;
}

/************************************************************************
    End of Actions
************************************************************************/

/************************************************************************
    Fader
************************************************************************/
#srpl-fader-container{
    display:            none;
    left:               0;
    margin:             0;
    padding:            0;
    position:           fixed;
    text-align:         left;
    top:                0;
    visibility:         hidden;
    z-index:            499;
}

#srpl-fader-overlay {
    height:             100%;
    position:           relative;
    width:              100%;
    background:         #fff;
    /* Firefox */
    -moz-transition-property: opacity;
    -moz-transition-duration: 2s;
    -moz-transition-delay: 1s;
    /* WebKit */
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 2s;
    -webkit-transition-delay: 1s;
    /* Opera */
    -o-transition-property: opacity;
    -o-transition-duration: 2s;
    -o-transition-delay: 1s;

    -ms-transition-property: opacity;
    -ms-transition-duration: 2s;
    -ms-transition-delay: 1s;
    /* Standard */
    transition-property: opacity;
    transition-duration: 2s;
    transition-delay: 1s;
    opacity:            0;
    filter:alpha(opacity=0);
}

#srpl-fader-overlay.anim{
    /* Firefox */
    -moz-transition-property: opacity;
    -moz-transition-duration: 2s;
    -moz-transition-delay: 1s;
    /* WebKit */
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 2s;
    -webkit-transition-delay: 1s;
    /* Opera */
    -o-transition-property: opacity;
    -o-transition-duration: 2s;
    -o-transition-delay: 1s;

    -ms-transition-property: opacity;
    -ms-transition-duration: 2s;
    -ms-transition-delay: 1s;
    /* Standard */
    transition-property: opacity;
    transition-duration: 2s;
    transition-delay: 1s;
    opacity:            .5;
    filter:alpha(opacity=50);
}

/************************************************************************
    End of Fader
************************************************************************/

/************************************************************************
    End of SRPL Global Properties
************************************************************************/

/************************************************************************
    SRPL App Properties
************************************************************************/

/************************************************************************
    SRPL Overlay Properties
************************************************************************/

.srpl-overlay {
    background-color:   #fff;
    border-color:       #d3d3d3;
    border-width:       1px;
    border-style:       solid;
    -moz-box-shadow:    1px 1px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow:         1px 1px 3px rgba(0, 0, 0, 0.2);
}

.srpl-overlay .srpl button.overlay-button,
.srpl-overlay .srpl button.overlay-button.image {
    position:           absolute;
    text-align:         center;
    z-index:            501;
/*    -webkit-border-radius:  4px;
    border-radius:          4px;
    -moz-border-radius:     4px;
    -khtml-border-radius:   4px;*/
}

.srpl-overlay .srpl button.prev {
    background:         url('../../app/img/myc.png') no-repeat 0 -1850px;
    width:              21px;
    height:             35px;
    top:                50%;
    left:               -26px;

}

.srpl-overlay .srpl button.next {
    background:         url('../../app/img/myc.png') no-repeat 0 -1894px;
    width:              20px;
    height:             35px;
    top:                50%;
    right:              -26px;
}

.srpl-overlay .close {
    top:                0;
    right:              -20px;
}

/************************************************************************
    End of SRPL Overlay Properties
************************************************************************/

/************************************************************************
    SRPL Carousel Properties
************************************************************************/

.srpl-overlay .yui3-carousel-content li.yui3-carousel-item { 
    text-align:         left;
}

.srpl-overlay .yui3-carousel-content .actions li {
    position:           static;
    padding:            0 0.692em;
    margin:             0;
}

.srpl-overlay .yui3-carousel-content .actions li.first-child,
.srpl-overlay .yui3-carousel-content .actions li.first-child button{
    padding-left:       0;
}

.srpl-overlay .yui3-carousel-content .actions li.last-child{
    border:             none;
    padding-right:      0;
}

/************************************************************************
    End of SRPL Carousel Properties
************************************************************************/

#srpl-wrapper-container {
    width:              900px;
    overflow:           hidden;
}

#srpl-container{
    position:           relative;
}

/************************************************************************
    End of SRPL App Properties
************************************************************************/
/* YUI CSS Detection Stamp */
#yui3-css-stamp.srpl-app-css { display: none; }