<div class="srcpl-hero-container" style="color:<%= h.get('palette').text %>">
    <img class="hero" src="<%= h.get('image').src %>" alt="<%= b.get('title') %>" height="<%= h.get('image').height %>" width="<%= h.get('image').width %>" />
    <div class="srcpl-hero-content-container">
        <h1><%= b.get('title') %></h1>
        <h2><%= b.get('primary_category') %></h2>
        <% if (r.get('averageRating') && !isNaN(r.get('averageRating'))) { %>
        <p class="srpl-rating-review">
            <a target="_blank" href="<%= r.get('reviewUrl') %>">
                <span class="srpl-rating-static f-left srpl-rating-<%= (r.get('averageRating')*10) %>">
                    <%= r.get('averageRating') %> out of 5 stars
                </span>
                <span class="srpl-review"><%= r.get('reviewCount') %> reviews on <%= r.get('source') %></span>
            </a>
        </p>
        <% } if (b.get('address')) {%>
        <p class="adr"><%= b.get('address') %></p>
        <% } if (b.get('phone')) {%>
        <p class="tel"><%= b.get('phone') %></p>
        <% } if (b.get('website') && b.get('website').url) {%>
        <p class="web">
            <a href="<%= b.get('website').url %>" target="_blank" class="url" title="<%= b.get('website').label %>">
                <%= b.get('website').label %>
            </a>
        </p>
        <% } %>
        <%= Y.srpl.Hero.templates.actions({h:h}) %>
    </div>
</div>