.srpl-business h1{
    font-size:      2em;
    line-height:    1.6em;
    color:          #FFF;
}

.srpl-business h3{
    font-size:      1.4em;
    line-height:    1.2em;
}

.srpl-business .column1{
    width:              65%;
}

.srpl-business .column2{
    width:              35%;
}

.srpl-business .srpl-header{
    height:             290px;
}

.srpl-business .srpl-body .srpl-container{
    margin:             10px 0;
    display:			inline-block;
    padding:			0 5px;
}

/* YUI CSS Detection Stamp */
#yui3-css-stamp.srpl-business-css { display: none; }