.srpl-overlay .yui3-carousel-content .srpl-gallery li,
.srpl-gallery li{
    padding:            0 0.3em;
    display:            inline;
    float:              left;
    position:           static;
}

.srpl-overlay .yui3-carousel-content .srpl-gallery li.first-child,
.srpl-gallery li.first-child{
    padding-left:       0;
}

.srpl-overlay .yui3-carousel-content .srpl-gallery li.last-child,
.srpl-gallery li.last-child{
    padding-right:      0;
}

.srpl-gallery li img{
	height:				128px;
	width:				128px;
}

/* YUI CSS Detection Stamp */
#yui3-css-stamp.srpl-business-gallery-css { display: none; }