<div class="srpl-container srpl-detail-container">
    <div class="srpl-container-body">
        <% if (b.get('hours')) { %>
        <div class="yui3-g srpl-container-sub">
            <div class="yui3-u-1-4">Hours</div>
            <div class="yui3-u-3-4 srpl-day-hours-container">
                <%
                Y.each(b.get('hours').days,function(d,i){
                %>
                <p class="srpl-day-hours"><%= d.desc %></p>
                <%
                });
                %>
                <button class="srpl-see-all noborder">See all hours</button>
            </div>
        </div>
        <% } if (b.get('categories')) { %>
        <div class="yui3-g srpl-container-sub">
            <div class="yui3-u-1-4">Category</div>
            <div class="yui3-u-3-4">
            <%
                Y.each(b.get('categories'),function(c,i){%>
                <a target="<%= Y.srpl.config('linking.target') %>" href="<%= c.url %>" title="<%= c.name %>"><%= c.name %></a><%= (i === b.get('categories').length-1 || i === 0) ? '' : ', ' %>
            <%});%>
            </div>
        </div>
        <% } if (b.get('payment')) { %>
        <div class="yui3-g srpl-container-sub">
            <div class="yui3-u-1-4">Payment</div>
            <div class="yui3-u-3-4"><%= b.get('payment') %></div>
        </div>
        <% } if (b.get('cuisine')) { %>
        <div class="yui3-g srpl-container-sub">
            <div class="yui3-u-1-4">Cuisine</div>
            <div class="yui3-u-3-4"><%= b.get('cuisine') %></div>
        </div>
        <% } if (b.get('ambiance')) { %>
        <div class="yui3-g srpl-container-sub">
            <div class="yui3-u-1-4">Ambiance</div>
            <div class="yui3-u-3-4"><%= b.get('ambiance') %></div>
        </div>
        <% } if (b.get('feature')) { %>
        <div class="yui3-g srpl-container-sub">
            <div class="yui3-u-1-4">Feature</div>
            <div class="yui3-u-3-4"><%= b.get('feature') %></div>
        </div>
        <% } if (b.get('attire')) { %>
        <div class="yui3-g srpl-container-sub">
            <div class="yui3-u-1-4">Attire</div>
            <div class="yui3-u-3-4"><%= b.get('attire') %></div>
        </div>
        <% } if (b.get('price')) { %>
        <div class="yui3-g srpl-container-sub">
            <div class="yui3-u-1-4">Price</div>
            <div class="yui3-u-3-4"><%= b.get('price') %></div>
        </div>
        <% } %>
        <ul class="srpl-actions clearfix">
            <li class="first-child srpl-more-details" style="display:none">
                <a href="<%= b.getBusinessUrl() %>" class="f-left" title="View More Details">View More Details</a>
            </li>
            <li class="last-child f-right">
                <a href="<%= b.getBusinessUrl() %>" class="f-right" title="Suggest an edit">Suggest an edit</a>
            <li>
        </ul>
    </div>
</div>