<div class="srpl-header">
    <div class="srpl-hero-container f-left column1">
        <%= Y.srpl.Business.templates.hero_container({b:b}) %>
    </div>
    <div class="srpl-map f-right column2"></div>
</div>
<div class="srpl-body">
    <div class="f-left column1">
        <%= Y.srpl.Business.templates.description({b:b}) %>
        <%= Y.srpl.Business.templates.gallery({b:b}) %>
        <%= Y.srpl.Business.templates.reviews({b:b}) %>
    </div>
    <div class="f-right column2">
    	<%= Y.srpl.Business.templates.details({b:b}) %>
    </div>
</div>