<div class="srpl-header yui3-g">
    <div class="srpl-hero-container yui3-u-17-24 column1">
        <%= Y.srpl.Business.templates.hero_container({b:b}) %>
    </div>
    <div class="srpl-map yui3-u-7-24 column2"></div>
</div>
<div class="srpl-body yui3-g">
    <div class="yui3-u-17-24 column1">
        <%= Y.srpl.Business.templates.description({b:b}) %>
        <%= Y.srpl.Business.templates.gallery({b:b}) %>
        <div class="srpl-container srpl-foursquare" style="display:none;"></div>
        <div class="srpl-container srpl-yelp-reviews" style="display:none;"></div>
        <div class="srpl-container srpl-yahoo-reviews" style="display:none;"></div>
    </div>
    <div class="yui3-u-7-24 column2">
    	<%= Y.srpl.Business.templates.details({b:b}) %>
    </div>
</div>