<ul class="actions clearfix">
    <li class="first-child">
        <button title="Send to phone" type="button" class="send-phone transparent">
            <i class="icon"></i>
            <div class="text f-right">Send to phone</div>
       </button>
    </li>
    <li>
        <button title="Directions" type="button" class="directions transparent">
            <i class="icon"></i>
            <div class="text f-right">Directions</div>
       </button>
    </li>
    <li>
        <button title="Share" type="button" class="share transparent">
            <i class="icon"></i>
            <div class="text f-right">Share</div>
       </button>
    </li>
    <li class="last-child">
        <button title="Menu" type="button" class="menu transparent">
            <i class="icon"></i>
            <div class="text f-right">Menu</div>
       </button>
    </li>
</ul>