<ul class="srpl-actions clearfix">
    <li class="first-child">
        <button style="background-color:<%= h.get('palette').button %>;color:<%= h.get('palette').text %>" title="Send to phone" type="button" class="send-phone transparent">
            <i class="icon"></i>
            <div class="text f-right">Send to phone</div>
       </button>
    </li>
    <li>
        <button style="background-color:<%= h.get('palette').button %>;color:<%= h.get('palette').text %>" title="Directions" type="button" class="srpl-directions transparent">
            <i class="icon"></i>
            <div class="text f-right">Directions</div>
       </button>
    </li>
    <li>
        <button style="background-color:<%= h.get('palette').button %>;color:<%= h.get('palette').text %>" title="Share" type="button" class="share transparent">
            <i class="icon"></i>
            <div class="text f-right">Share</div>
       </button>
    </li>
    <li class="last-child">
        <button style="background-color:<%= h.get('palette').button %>;color:<%= h.get('palette').text %>" title="Menu" type="button" class="menu transparent">
            <i class="icon"></i>
            <div class="text f-right">Menu</div>
       </button>
    </li>
</ul>