<div class="srpl-header">
    <div class="srpl-hero-container">
        <%= Y.srpl.Business.templates.hero_container({b:b}) %>
    </div>
</div>
<div class="srpl-body">
    <div>
        <%= Y.srpl.Business.templates.description({b:b}) %>
        <%= Y.srpl.Business.templates.gallery({b:b}) %>
        <div class="srpl-container srpl-foursquare" style="display:none;"></div>
        <div class="srpl-container srpl-yelp-reviews" style="display:none;"></div>
        <div class="srpl-container srpl-yahoo-reviews" style="display:none;"></div>
    </div>
</div>